Repository jenkinsci/crowd2-plugin, pull requests merged in 2022-11, with the labels that each got.

#115 chore: remove warnings from CI logs for missing plugin version
  pom.xml
Labels: java11, chore

#133 fix: try to revert changes to fix ci
  pom.xml
Labels: bug

#138 cicd: Dependabot update
  .github/dependabot.yml
Labels: chore
