Repository jenkinsci/crowd2-plugin, pull requests merged in 2023-04, with the labels that each got.

#170 fix: log formatting was improved and new ones was added
  src/main/java/de/theit/jenkins/crowd/CrowdAuthenticationManager.java
  src/main/java/de/theit/jenkins/crowd/CrowdConfigurationService.java
  src/main/java/de/theit/jenkins/crowd/CrowdRememberMeServices.java
  src/main/java/de/theit/jenkins/crowd/CrowdSecurityRealm.java
  src/main/java/de/theit/jenkins/crowd/ErrorMessages.java
  src/main/resources/de/theit/jenkins/crowd/ErrorMessages.properties
  src/main/resources/de/theit/jenkins/crowd/ErrorMessages_de.properties
  src/main/resources/de/theit/jenkins/crowd/ErrorMessages_fr.properties
  src/main/resources/de/theit/jenkins/crowd/ErrorMessages_pl.properties
  src/main/resources/de/theit/jenkins/crowd/ErrorMessages_zh.properties
Labels: enhancement, regression-fix

#174 deps: upgrade plugin parent POM from 4.57 to 4.61
  pom.xml
Labels: dependencies

#178 docs: update crowd version
  README.md
Labels: documentation

#177 chore(deps): update Jenkins core to 2.375.4
  README.md
  casc/Dockerfile
  init/settings.xml
  pom.xml
Labels: documentation, dependencies
